<body>

  <div class="body">
  	<div class="containder">

  		<div class="row col-xs-offset-1">

    		<div class="col-xs-3 bg-warning">
    			<p>user info</p>
    		</div>

  			<div class="col-xs-8">
  				<h2>Users</h2>
  				<table class="table">
  					<thead>
  						<tr>
  							<th>image</th>
  							<th>name</th>
  							<th colspan="1"></th>
	  					</tr>
	  				</thead>
	  				<tbody>
	  					<% @users.each do |user| %>
	  						<tr>
								<td><%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg'%></td>
								<td><%= user.name %></td>
								<td><%= link_to "Show", show_user_path(user.id) %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>

  		</div>
	</div>
  </div>
</body>


