<body>
  <%= render 'users/afterheader' %>

  <div class="body">
  	<div class="profile-containder">
  		<!--<p id=notice></p>-->
  		<div class="row col-xs-offset-1">
  			<div class="col-xs-3 bg-info">
  				<h2>User info</h2>
  				<%= attachment_image_tag @user, :profile_image, :fill,60, 60, format: 'jpeg' %>
  				<p>Name</p>
  				<%= @user.name %></h3>
  				<p>Introduction</p>
  				<%= @user.introduction %>
  				<div class="row">
  					<a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench", aria-hidden="true", href="/users/:id/edit"></a>
  				</div>
  			</div>
  			<div class="col-xs-8 bg-warning">
  				<h2>Books</h2>
  			</div>
  		</div>
	</div>
  </div>
</body>