<body>

  <div class="body">
  	<div class="profile-containder">
  		<% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>
  		<div class="row col-xs-offset-1">
  			</div>
  			<div class="col-xs-8">
  				<h2>Book detail</h2>
          <table class="table">
            <tr>
            <th><%= @book.title %></th>
            <th><%= @book.body %></th>
          </table>
  			</div>
  		</div>
	</div>
  </div>
</body>