<!--フッターここから-->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-offset-9 navbar-right">
				<p>CopyRight Infratop.inc<p>
			</div>
		</div>
	</div>
</footer>
<!--フッターここまで-->